
<article class="flex flex-col items-center justify-center gap-6 text-gray-800 dark:text-gray-200 md:flex-row">
  <img 
  src="/ismael.jpg" 
  alt="Ismael Pérez" 
  width="350" height="350"
  class="w-[200px] h-[200px]  md:w-[350px] md:h-[350px] object-cover rounded-full border-4 border-gray-300 dark:border-gray-700 shadow-md"
>
  <div class="max-w-lg space-y-4 text-center md:text-left">
    <section>
      <p class="text-lg leading-relaxed">
        ¡Hola! Soy <strong class="text-blue-600 dark:text-yellow-300">desarrollador full stack</strong>. Desde niño, tuve curiosidad por la tecnología y cómo funcionaba la web, lo que me llevó a dedicarme a crear <strong>aplicaciones web</strong> y <strong>plataformas digitales</strong> que mejoren la experiencia del usuario.
      </p>
    </section>

    <section>
      <p class="text-lg leading-relaxed">
        Me especializo en diseñar sistemas eficientes y funcionales, siempre buscando soluciones innovadoras que potencien negocios digitales.
      </p>
    </section>

    <section>
      <p class="text-lg leading-relaxed">
        Me encanta aprender y mejorar constantemente, y busco trabajar en empresas que me permitan desarrollar todo mi potencial y seguir creciendo como profesional.
      </p>
    </section>
  </div>
</article>
