---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Mediados de 2023 - 2024",
    title: "Freelancer",
    company: "",
    description:"Como freelance full stack, lideré proyectos integrales combinando interfaces intuitivas y soluciones robustas en el servidor. Adapté estrategias a las necesidades del cliente, logrando entregas eficientes y de alta calidad que impulsaron el crecimiento de sus negocios.",
        link: "https://twitch.tv/midudev",
  },
  {
    date: "Mediados de 2024 - 2025",
    title: "Programador full stack",
    company: "",
    description:"En una pequeña startup, durante 6 meses, formé parte de un equipo ágil para desarrollar proyectos completos. Mi rol abarcó la creación de interfaces modernas y soluciones del servidor, optimizando la arquitectura del sistema y elevando la eficiencia operativa."  },
]
---

<ol class="relative mt-16">
  <div class="absolute top-0 left-[90svw] md:left-[60%] transform md:-translate-x-1/2 h-[85%] w-[2px] bg-gray-300"></div>

  {EXPERIENCE.map((experience) => (
    <li>
      <ExperienceItem {...experience} />
    </li>
  ))}
</ol>

