---
import { navItems } from "./Header.astro";
import GitHub from "./icons/GitHub.astro";
import LinkedIn from "./icons/LinkedIn.astro";

const currentYear = new Date().getFullYear();
---

<footer class="bg-gray-900 text-gray-300 py-6 mt-16 pb-10">
  <div class="container mx-auto flex flex-col items-center text-center gap-4 px-4">
    <p class="text-sm md:text-base">
      © {currentYear} - Todos los derechos reservados.
    </p>

    <nav class="flex flex-col sm:flex-row gap-3 sm:gap-6">
      {navItems.map((link) => (
        <a
          href={link.url}
          aria-label={link.label}
          class="px-3 py-2 text-white dark:text-gray-300 hover:text-blue-500 dark:hover:text-blue-500 transition"
        >
          {link.title}
        </a>
      ))}
    </nav>

    <div class="flex gap-4 mt-2">
      <a href="https://github.com/IsmaelP001" target="_blank" aria-label="GitHub" class="hover:text-white transition">
        <GitHub class="size-6 sm:size-7"/>
      </a>
      <a href="https:www.linkedin.com/in/ismael-perezg" target="_blank" aria-label="LinkedIn" class="hover:text-white transition">
        <LinkedIn class="size-6 sm:size-7"/>
      </a>
    </div>
  </div>
</footer>
